<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <style>
           body{
               padding:40px;
           }
           h1{
               margin-bottom:30px;
           }
           .form-group{
               margin-top:30px;
           }
           .btn{
               float:right;
           }
       </style>
    </head>
    <body>
        <h1>영화 추가하는 페이지</h1>
        <form action="/boards/new_at" method="post">
            제목: <input type="string" name="title">
            <a style="float:right; margin-right:400px">별 점수:  <input type="string" name="star"></a>
          <div class="form-group">
            <label for="exampleInputEmail1">감독</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="director">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">배우</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="actor"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">작성하기</button>
        </form>
    </body>
</html>